/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: lightgrey;
}

h1 {
  font-size: 40px;
  color:skyblue;
  padding:40px;
  text-align: left;
  border-bottom: 6px solid black;
}

h2 {
  font-size: 30px;
  color:skyblue;
  padding:40px;
  text-align: center;
}

img {
  margin-right: 10px;
}


/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar-brand {
  display: inline-block;
  cursor: pointer;
  background:skyblue;
  color: white;
  align-content: left;
}


/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 20px;
  color: #000;
  text-align: center;
  border-bottom:2px solid black;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}